@charset 'UTF-8';

/* Arrows */
.slick-prev,
.slick-next
{
   

    position: absolute;
    top: 50%;


    width: 30px;
    height: 28px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}



.slick-prev
{
	background: url("../photo/prev_unActive.png") no-repeat;
    left: -65px;
}
.slick-prev:before
{
		top: 0;
		left: 0;
		width: 30px;
		height: 28px;
		content: '';
    background: url("../photo/prev_active.png") no-repeat;
		transition: all .5s ease;
		position: absolute;
		opacity: 0;
}
.slick-prev:hover:before, .slick-next:hover:before{
	opacity: 1;
}

.slick-next
{
	background: url("../photo/next_unActive.png") no-repeat;
    right: -65px;
}
.slick-next:before
{
		content: '';
    background: url("../photo/next_active.png") no-repeat;
		top: 0;
		right: 0;
		width: 30px;
		height: 28px;
		transition: all .5s ease;
		position: absolute;
		opacity: 0;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
		bottom: -100px;
		left: 55%;

		display: flex;
		column-gap: 12px;

    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 4px;

		background-image: url('../photo/dots_noActive.png');

    content: '';
    text-align: center;



    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
	background-image: url('../photo/dots_active.png');
}



@media (max-width: 1199px){
	.slick-dots{
		left: 35%;
	}
}



/* Dots 2 */
.dots.slick-slider
{
    margin-bottom: 30px;
}

.dots
{
    position: absolute;
		bottom: 50px;
		left: 43%;

		display: flex;
		column-gap: 12px;

    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.dots li
{
    position: relative;

    display: inline-block;

    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.dots li button:hover,
.dots li button:focus
{
    outline: none;
}
.dots li button:hover:before,
.dots li button:focus:before
{
    opacity: 1;
}
.dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 4px;

		background-image: url('../photo/team-dots_unActive.png');

    content: '';
    text-align: center;



    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dots li.slick-active button:before
{
	background-image: url('../photo/team-dots_active.png');
}
@media (max-width: 1199px){
	.slick-prev{
		left: -50px;
	}
	.slick-next{
		right: -55px;
	}
}
@media (max-width: 991px){
	.dots{
		left: 33%;
	}
	.slick-next{
		right: -56px;
	}
}
@media (max-width: 970px){
	.dots{
		left: 35%;
	}
}
@media (max-width: 835px){
	.slick-next {
    right: -39px;
}
	.slick-prev{
		left: -40px;
}
}
@media (max-width: 767px){
	.slick-prev{
		display: none !important;
	}
	.slick-next{
		display: none !important;
	}
	.slick-dots{
		left: 45%;
	}
	.dots {
    left: 45%;
}
}
@media (max-width: 450px){
	.dots {
    left: 35%;
}
}
@media (max-width: 375px){
	.slick-dots{
		bottom: -51px;
	}
}